.nav-form{
    -fx-background-color: linear-gradient(to bottom right , #608AA8 , #3A5366);
}
.nav-btn{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 20px;

}

.logout:hover{
    -fx-background-color: #c5d7e4;
    -fx-text-fill: black;
}

.join-btn{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-border-radius: 20px;
}
.join-btn:hover{
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;

}

.text{
    -fx-text-fill: black;
}